*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'PT Serif', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
.container {
    width: 80vw;
    margin: 0 auto;
}
.main-header {
    text-align: center;
    margin: 2rem 0;
    font-family: 'PT Serif', serif;
}
.info {
    text-align: center;
    font-family: "Poppins";
}
::selection {
    background-color: black;
    color: #fff;
}
.color-category {
    padding: 1rem 0;
    border-bottom: 1px solid green;
}
.colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
    grid-gap: 45px;
    margin: 2rem 0;
}
.all {
    font-family: 'Poppins';
    font-size: 1.32rem;
    font-weight: 100;
    display:flex;
    justify-content:space-between;
    min-height: 10vh;
    align-items: center;
    color: rgb(110, 105, 105);
}

.form-control-ctg {
    width: 250px;
    font-family:"Poppins";
    margin:5px 0;
    padding:6px 5px;
    outline:none;
    border:none;
    background:rgb(230, 234, 236);
}
.color-count {
    margin: 0 15px;
}
.color-info {
    display: flex;
    justify-content: space-between;
    color: gray;
    transform: scale(0);
    /* display: none; */
}
.color-info .fas {
    cursor: pointer;
}
.color-info .fa-copy {
    margin-left: 6px;
    margin-top: 4px;
}
.color-code-text {
    font-family: "Poppins";
    border: none;
    max-width: max-content;
    outline: none;
    min-width: 0;
    font-size: 1.025rem;
    /* -webkit-touch-callout: default ;  displays the callout */
    -webkit-touch-callout: none;     /* disables the callout */
    pointer-events:none;
    user-select:none;

}
.color-code {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}
.back-color {
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0.6rem;
    position: relative;
}
.copy-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    font-family: "Poppins";
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    transition: 250ms ease-in-out;

}
.fa-pen{
    color:blue;
}
.fa-trash-alt {
    margin:0 6px;
    color: red;
}
footer {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-txt {
    font-family: 'Poppins', serif;
    text-align: center;
}
.fa-heart {
    color:brown;
}
.form-group input,
.form-group>select {
    width: 100%;
    font-family:"Poppins";
    margin:5px 0;
    padding:6px 5px;
    outline:none;
    border:none;
    background:rgb(230, 234, 236);
}
.submit-btn {
    border:none;
    outline:none;
    padding:6px 15px;
    margin:1rem 0;
    background:teal;
    color:#fff;
    font-family:"Poppins";
    cursor:pointer;
    transition: 350ms ease-in-out;
}
.submit-btn:hover {
    background: rgb(12, 90, 90);
}
.ep {
    font-size:2rem;
}
@media only screen and (max-width: 760px) {
    .color-info {
        transform:scale(1);
    }
    .footer-txt {
        font-size:1rem;
        font-weight: 100;
    }
    .all {
        flex-direction:column-reverse;
    }
    .color-count {
        margin:0 20px 0 0;
    }
    .form-control-ctg {
        width: 150px;
    }
}
