{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Easy Colors</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400;1,700&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
        <div class="container">
            <h1 class="main-header">{% if user.is_superuser %}<a target="_blank" href="{% url 'admin:index' %}">Admin</a> {% endif %} Easy Colors {% if user.is_superuser %} <a href=""><i class="fas fa-plus-circle"></i></a>{% endif %} </h1>
        </div>
    </header>
    <main>
        <section id="colors">
            <div class="container">
                <h1 class="main-header ep">500 Page</h1>
                <div class="main-head">Sorry, We cann access and have a problem with Server </div>
                <p class="main-header"><a href="{% url 'home' %}">Home</a></p>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
          <h3 class="footer-txt">All rights reserved © <script>document.write(new Date().getFullYear());</script>. Made with <i class="fas fa-heart"></i> <a href="http://" target="_blank" rel="noopener noreferrer">Farid</a></h3>
        </div>
    </footer>
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
